.houdini__header {
  padding-bottom: var(--spacing-xl);
}

.houdini__title {
  text-align: center;
  padding-bottom: var(--spacing-lg);
}

.houdini__legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: var(--spacing-lg);
  font-size: var(--font-xs);
}

.houdini__legend-item {
  display: flex;
  padding: 0 var(--spacing-sm) var(--spacing-sm) 0;
  cursor: pointer;
}

.houdini__legend-item span {
  margin-right: var(--spacing-sm);
  width: 30px;
  height: 100%;
}
