:root {
  --spacing-small: 10px;
  --color-purple: #cab8ff;
  --color-green: #c1ffd7;
  --color-blue: #b5deff;
  --color-yellow: #fcffa6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav a {
  font-size: 32px;
  padding-bottom: var(--spacing-small);
  color: black;
  text-decoration: none;
}

nav a:last-child {
  padding-bottom: 0;
}

.fullpage {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

.fullpage--center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.loaded--true {
  --extra-scallopRadius: 5; /* default: 10 */
  --extra-scallopColor: var(--color-blue); /* default: black */
  --extra-scallopWeight: 1; /* default: 2 */
  --extra-test: '[1, 2, 3, 4, 5, 6, 7]';

  /* Must add padding to show border properly*/
  padding: 10px 15px;
  background: paint(extra-scallopedBorder);
}

#houdiniLine,
#houdiniRadar {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #houdiniLine,
  #houdiniRadar {
    width: 50%;
  }
}
