.houdini--radar {
  width: 100%;
}

.houdini--radar .houdini__chart {
  aspect-ratio: 1 / 1;
  position: relative;
}

.houdini--radar .houdini__yaxis {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.houdini--radar .houdini__ylabel {
  position: absolute;
  line-height: 1;
  z-index: 2;
}

.houdini--radar .houdini__xaxis {
  position: absolute;
}

.houdini--radar .houdini__dataset {
  position: absolute;
  width: 100%;
  height: 100%;
}

.houdini--radar .houdini__datapoint {
  position: absolute;
  width: var(--datapoint-size);
  height: var(--datapoint-size);
  background-color: black;
  border-radius: 100%;
  z-index: 1;
}
